<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>You are about to complete your booking</h2>

        <p>Please review the folowing informations</p>

        <h3>Summary :</h3>

        <table class="table text-center">
          <tr>
            <th>User email</th>
            <th>Game</th>
            <th>Number of Players</th>
            <td>Date</td>
            <td>Time</td>
            <td>Duration</td>
          </tr>
          <tr>
            <th><%= current_user.email  %></th>
            <td><%= @game.name  %></td>
            <td><%= params[:nb_players].to_i  %></td>
            <td><%= @starts_at.strftime('%e %b %Y') %></td>
            <td><%= @starts_at.strftime('%H:%M') %></td>
            <td><%= params[:duration].to_i %> h</td>
          </tr>
        </table>

        <%= link_to "Edit reservation", game_path(@game, nb_players: params[:nb_players], date: params[:date], duration: params[:duration], time_select: params[:time_select]), class: "btn btn-danger" %>

        <h3> Payment informations </h3>

        <p>The price for your purchase is : <strong><%= @game.price_per_hour * params[:duration].to_i %> euros</strong> </p>

        <hr>


        <%= simple_form_for [@game, @booking] do |f|%>

          <%= f.hidden_field :game_id, value: @game.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :nb_players, value: params[:nb_players].to_i %>
          <%= f.hidden_field :starts_at, value: @starts_at %>
          <%= f.hidden_field :duration, value: params[:duration].to_i %>
          <%= f.submit "Confirm and pay", class: 'btn btn-danger' %>
        <% end %>
      </div>
  </div>
</div>
