<h2>You are about to complete your booking</h2>

<p>Please review the folowing informations</p>

<h3>Summary :</h3>

<table class="table table-hover">
  <tr>
    <th>User email</th>
    <th>Game</th>
    <th>Number of Players</th>
    <td>Date and time</td>
    <td>Duration</td>
  </tr>
  <tr>
    <th><%= @user.email  %></th>
    <td><%= @game.name  %></td>
    <td><%= @nb_players  %></td>
    <td><%= @starts_at.strftime('%e %b %Y %H:%M:%S%p') %></td>
    <td><%= @duration %> h</td>
  </tr>
</table>

<%= simple_form_for [@game, @booking] do |f|%>

<%= f.hidden_field :game_id, value: @game.id %>

<% end %>

<!--
  @user = User.first
  @game = Game.first
  @nb_players = 5
  @starts_at = Time.now
  @duration = 1 -->
