<div class="container">
  <div class="profile-container padded">
    <div class="row">

      <!-- USER PROFILE -->
      <div class="col-sm-4">
        <div class="user-content">
          <div class="row">
            <% avatar_url = @user.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar-extra-large " %>
          </div>
          <div class="row">
            <h1>Information</h1>
            <br>
            <p>Email: <%= @user.email %></p>
            <p>First name: <%= @user.first_name %></p>
            <p>Last name: <%= @user.last_name %></p>
            <%= link_to "Edit profile" %>
          </div>
        </div>
      </div>


      <!-- USER BOOKINGS -->
      <div class="col-sm-8">
        <% if @user.player? && @user.host? %>
          <div class="tabs">
            <a class="tab active" id="host" href="#">
              <p>YOU OWN...</p>
            </a>
            <a class="tab" id="player" href="#">
              <p>YOU PLAY...</p>
            </a>
          </div>

      <!-- INFORMATIONS RELATIVES AU GAMES ET AUX RESERVATIONS EN COURS-->

      <!-- PENDING BOOKINGS-->

      <div class="host_content">
        <% unless @pending_bookings == [] %>
          <h3>You have pending bookings</h3>
          <% @pending_bookings.each do |booking| %>
            <div class="product">
              <div class='product-body'>
                <h3><%= link_to booking.game.name, game_path(booking.game_id) %></h3>
                  <% booking_time = booking.starts_at + 1.hour %>
                <p><%= booking_time.strftime("On %A, %d %b %Y %l:%M %p") %>, by <%= link_to booking.user.email, user_path(booking.user_id) %></p>
              </div>
              <ul class ="list-inline buttons hidden-sm hidden-xs">
                <li class ="btn btn-success" ><%= link_to "Accept",  game_booking_path(booking, :booking_id => booking.id, :do => "accept"), method: :patch %></li>
                <li class ="btn btn-danger" ><%= link_to "Decline", game_booking_path(booking, :booking_id => booking.id, :do => "decline"), method: :patch %></li>
              </ul>
            </div>
          <% end %>
        <% end %>

          <!-- GAMES -->

          <h3>Your games</h3>
          <div class="container game-container">
            <div class="row">
            <% @games_host.each do |game| %>
              <div class="col-sm-6">
                <% if game.photo? %>
                  <% game_img_url = cl_image_path game.photo.path, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <% game_img_url = cl_image_path "closed_room.jpg", height: 300, width: 400, crop: :fill %>
                <% end %>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= game_img_url %>')">
                  <div class="card-description">
                    <h2><%= game.name %></h2>
                    <p>Nb of players : <%= game.min_players %> - <%= game.max_players %></p>
                  </div>
                  <%= link_to "", game_path(game, nb_players: params[:nb_players], date: params[:date]), class: "card-link" %>
                  <span class="card-price"><%= game.price_per_hour %>€</span>
                </div>
              </div>
            <% end %>
            </div>
          </div>

          <!-- RESERVATIONS -->

          <br>
          <h3>All reservations</h3>
              <% @games_host.each do |game| %>
              <% bookings_host = Booking.where(game_id: game.id) %>
              <% if bookings_host != [] %>
                <div class="product">
                  <div class='product-body'>
                    <h3><%= link_to game.name, game_path(game) %></h3>
                    <% bookings_host.each do |booking_host| %>
                    <% booking_time_host = booking_host.starts_at + 1.hour %>
                      <% if booking_host.accepted == true %>
                        <p>Accepted Booking: <%= booking_time_host.strftime("%A, %d %b %Y %l:%M %p") %></p>
                      <% elsif booking_host.accepted == false %>
                        <p>Declined Booking: <%= booking_time_host.strftime("%A, %d %b %Y %l:%M %p") %></p>
                      <% end %>
                    <% end %>
                  </div>
                  <%= link_to "", game_path(game), class: "product-link" %>
                </div>
              <% else %>
                <p>You don't have any reservation for <%= game.name %>. It does not have much success</p>
              <% end %>
            <% end %>
      </div>

      <!-- INFORMATIONS RELATIVES AU JOUEUR -->

      <div class="player_content">
        <h3>Your bookings as a player:</h3>
          <% @booking_customer.each do |booking| %>
            <div class="product">
              <div class='product-body'>
                <h3><%= link_to booking.game.name, game_path(booking.game) %></h3>
                <% if booking.accepted == true %>
                  <p>Booking Infos: <%= (booking.starts_at + 1.hour).strftime("%A, %d %b %Y %l:%M %p") %></p>
                  <span class="status-accepted">ACCEPTED</span>
                <% elsif booking.accepted.nil? %>
                  <p>Booking Infos: <%= (booking.starts_at + 1.hour).strftime("%A, %d %b %Y %l:%M %p") %></p>
                  <span class="status-pending">PENDING</span>
                <% elsif booking.accepted == false %>
                  <p>Booking Infos: <%= (booking.starts_at + 1.hour).strftime("%A, %d %b %Y %l:%M %p") %></p>
                  <span class="status-declined">DECLINED</span>
                <% end %>
              </div>
              <%= link_to "", game_path(booking.game), class: "product-link" %>
            </div>
          <% end %>
      </div>

      <!-- 2 ème cas : host seulement -->
      <% elsif @user.host? %>

        <!-- SES INFOS -->
        <div class="only_host_content">
          <% unless @pending_bookings == [] %>
            <h3>You have pending bookings</h3>
            <% @pending_bookings.each do |booking| %>
              <div class="product">
                <div class='product-body'>
                  <h3><%= link_to booking.game.name, game_path(booking.game_id) %></h3>
                    <% booking_time = booking.starts_at + 1.hour %>
                  <p><%= booking_time.strftime("On %A, %d %b %Y %l:%M %p") %>, by <%= link_to booking.user.email, user_path(booking.user_id) %></p>
                </div>
                <ul class ="list-inline buttons hidden-sm hidden-xs">
                  <li class ="btn btn-success" ><%= link_to "Accept",  game_booking_path(booking, :booking_id => booking.id, :do => "accept"), method: :patch %></li>
                  <li class ="btn btn-danger" ><%= link_to "Decline", game_booking_path(booking, :booking_id => booking.id, :do => "decline"), method: :patch %></li>
                </ul>
              </div>
            <% end %>
          <% end %>

          <!-- GAMES -->

          <h3>Your games</h3>
          <div class="container game-container">
            <div class="row">
            <% @games_host.each do |game| %>
              <div class="col-sm-6">
              <% if game.photo? %>
                  <% game_img_url = cl_image_path game.photo.path, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <% game_img_url = cl_image_path "closed_room.jpg", height: 300, width: 400, crop: :fill %>
                <% end %>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= game_img_url %>')">
                  <div class="card-description">
                    <h2><%= game.name %></h2>
                    <p>Nb of players : <%= game.min_players %> - <%= game.max_players %></p>
                  </div>
                  <%= link_to "", game_path(game, nb_players: params[:nb_players], date: params[:date]), class: "card-link" %>
                  <span class="card-price"><%= game.price_per_hour %>€</span>
                </div>
              </div>
            <% end %>
            </div>
          </div>

          <!-- RESERVATIONS -->

          <br>
          <h3>All reservations</h3>
              <% @games_host.each do |game| %>
              <% bookings_host = Booking.where(game_id: game.id) %>
              <% if bookings_host != [] %>
                <div class="product">
                  <div class='product-body'>
                    <h3><%= link_to game.name, game_path(game) %></h3>
                    <% bookings_host.each do |booking_host| %>
                    <% booking_time_host = booking_host.starts_at + 1.hour %>
                      <% if booking_host.accepted == true %>
                        <p>Accepted Booking: <%= booking_time_host.strftime("%A, %d %b %Y %l:%M %p") %></p>
                      <% elsif booking_host.accepted == false %>
                        <p>Declined Booking: <%= booking_time_host.strftime("%A, %d %b %Y %l:%M %p") %></p>
                      <% end %>
                    <% end %>
                  </div>
                  <%= link_to "", game_path(game), class: "product-link" %>
                </div>
              <% else %>
                <p>You don't have any reservation for <%= game.name %>. It does not have much success</p>
              <% end %>
            <% end %>
        </div>

      <!-- 3 ème cas : player seulement -->
      <% elsif @user.player? %>

        <!-- SES INFOS -->
        <div class="only_player_content">
        <h3>Your bookings as a player:</h3>
          <% @booking_customer.each do |booking| %>
            <div class="product">
              <div class='product-body'>
                <h3><%= link_to booking.game.name, game_path(booking.game) %></h3>
                <% if booking.accepted == true %>
                  <p>Booking Infos: <%= (booking.starts_at + 1.hour).strftime("%A, %d %b %Y %l:%M %p") %></p>
                  <span class="status-accepted">ACCEPTED</span>
                <% elsif booking.accepted.nil? %>
                  <p>Booking Infos: <%= (booking.starts_at + 1.hour).strftime("%A, %d %b %Y %l:%M %p") %></p>
                  <span class="status-pending">PENDING</span>
                <% elsif booking.accepted == false %>
                  <p>Booking Infos: <%= (booking.starts_at + 1.hour).strftime("%A, %d %b %Y %l:%M %p") %></p>
                  <span class="status-declined">DECLINED</span>
                <% end %>
              </div>
              <%= link_to "", game_path(game), class: "product-link" %>
            </div>
          <% end %>
      </div>

      <% end %>
      </div>

    <!-- FIN DE LA ROW CONTENANT L'ENSEMBLE -->
    </div>
  </div>
</div>
