<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @user.email %> - <%= @user.id %></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <% if @user.host? %>

      <!-- HOST -->

          <h1 class="text-center">Welcome Host!</h1>
          <br>
          <h3>Your pending bookings:</h3>
          <br>
          <br>

          <!-- Accept/Decline -->
        <% @pending_bookings.each do |booking| %>
          <div class="product">
            <div class='product-body'>
              <h3><%= link_to booking.game.name, game_path(booking.game_id) %></h3>
                <% booking_time = booking.starts_at %>
              <p><%= booking_time.strftime("On %A, %d %b %Y %l:%M %p") %>, by <%= link_to booking.user.email, user_path(booking.user_id) %></p>
            </div>
            <ul class ="list-inline buttons hidden-sm hidden-xs">
              <li class ="btn btn-success" ><%= link_to "Accept",  game_booking_path(booking, :booking_id => booking.id, :do => "accept"), method: :patch %></li>
              <li class ="btn btn-danger" ><%= link_to "Decline", game_booking_path(booking, :booking_id => booking.id, :do => "decline"), method: :patch %></li>
            </ul>
          </div>
        <% end %>
          <br>
          <br>

            <!-- Show all games and bookings -->
          <h3>Your games</h3>
          <br>
          <br>
        <% @games_host.each do |game| %>
          <div class="product">
            <div class='product-body'>
              <h3><%= link_to game.name, game_path(game) %></h3>
              <% bookings_host = Booking.where(game_id: game.id) %>
              <% bookings_host.each do |booking_host| %>
              <% booking_time_host = booking_host.starts_at %>
                <% if booking_host.accepted == true %>
                  <p>Accepted Booking: <%= booking_time_host.strftime("%A, %d %b %Y %l:%M %p") %></p>
                <% elsif booking_host.accepted == false %>
                  <p>Declined Booking: <%= booking_time_host.strftime("%A, %d %b %Y %l:%M %p") %></p>
                <% end %>
              <% end %>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-share"></i></a></li>
              <li><a href=""><i class="fa fa-star"></i></a></li>
            </ul>
          </div>
        <% end %>

        <% else %>

        <!-- CUSTOMER - Show all bookings -->

        <h1 class="text-center">Welcome Customer!</h1>
          <% @games_customer.each do |game| %>
            <div class="product">
              <div class='product-body'>
                <h3><%= link_to game.name, game_path(game) %></h3>
                <% booking = Booking.find_by(game_id: game.id) %>
                <% booking_time = booking.starts_at %>
                <% if booking.accepted == true %>
                  <p>Accepted Booking: <%= booking_time.strftime("%A, %d %b %Y %l:%M %p") %></p>
                <% elsif booking.accepted.nil? %>
                  <p>Pending Booking: <%= booking_time.strftime("%A, %d %b %Y %l:%M %p") %></p>
                <% end %>
              </div>
              <ul class="list-inline product-controls hidden-sm hidden-xs">
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-share"></i></a></li>
                <li><a href=""><i class="fa fa-star"></i></a></li>
              </ul>
            </div>
          <% end %>

      <% end %>
      <br>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <br>
      <%= link_to "Home", root_path %>
    </div>
  </div>
</div>

