<div class="container padded">

  <div class="row">
    <!-- Résultats de recherche  -->
    <div class="col-xs-8 col-sm-8">
      <div class="row">
        <% @games.each do |game| %>

        <% if game.photo? %>
          <% game_url = game.photo.path %>
        <% else %>
          <% game_url = "closed_room.jpg" %>
        <% end %>

          <div class="col-xs-6 col-sm-6">

            <% if @date != "" && @date != nil %>
              <% if game.availabilities(@date) %>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path game_url, height: 300, width: 400, crop: :fill %>')">
                  <div class="card-description">
                    <h2><%= game.name %></h2>
                    <p>Nb of players : <%= game.min_players %> - <%= game.max_players %></p>
                  </div>
                  <%= link_to "", game_path(game, nb_players: params[:nb_players], date: params[:date]), class: "card-link" %>
                  <span class="card-price"><%= game.price_per_hour %>€</span>
                </div>
              <% else %>
                <div class="card card-non-available" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('<%= cl_image_path game_url, height: 300, width: 400, crop: :fill %>')">
                  <div class="card-description">
                    <h2><%= game.name %></h2>
                    <p>Nb of players : <%= game.min_players %> - <%= game.max_players %></p>
                  </div>
                  <%= link_to "", game_path(game, nb_players: params[:nb_players], date: params[:date]), class: "card-link" %>
                  <span class="card-price">NOT AVAILABLE ON THE GIVEN DATE</span>
                </div>
              <% end %>
            <% else %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path game_url, height: 300, width: 400, crop: :fill %>')">
              <div class="card-description">
                <h2><%= game.name %></h2>
                <p>Nb of players : <%= game.min_players %> - <%= game.max_players %></p>
              </div>
              <%= link_to "", game_path(game, nb_players: params[:nb_players], date: params[:date]), class: "card-link" %>
              <span class="card-price"><%= game.price_per_hour %>€</span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Barre latérale droite  -->
    <div class="col-xs-4 col-sm-4">
      <!-- Formulaire -->
      <div class="index-form-container">
        <div class="row"><h1>Your choice</h1></div>
        <%= form_tag(games_path, :method => "get", class: "search-form") do %>
          <div class="row">
          <%= label_tag ":search", "Where?" %>
          <input type="text" name="address" id="search_address" class="form-control border-radius" placeholder="Where ?" value="<%= params[:address] %>"</div>
          <div class="row">
          <%= label_tag "nb_players", "Number of players" %>
          <%= text_field_tag :nb_players, params[:nb_players], placeholder: "Number of players", class: "form-control border-radius" %></div>
          <div class="row">
          <%= label_tag "date", "Booking date" %>
          <%= text_field_tag :date, params[:date], placeholder: "Chose a date", class: "form-control border-radius datepicker" %></div>
          <div class="row"><button type="submit" class="btn game-wagon-button">Update search</button></div>
        <% end %>
      </div>

      <!-- Carte goolgle maps -->
      <div id="map" style="width: 100%; height: 350px;"></div>
      <script>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @games_coordinates.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
        </script>


    </div>

    </div>
  </div>

</div>
