
<div class="banner">
  <h1><%= @game.name %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p><%= @game.description %></p>
      <p><%= @game.address %></p>
      <p>Tel : <%= @game.phone_number %></p>
      <p>Min players : <%= @game.min_players %> </p>
      <p>Max players : <%= @game.max_players %> </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>Book</h2>
      <p>
        <%= form_tag(new_game_booking_path(@game), :method => "get") do %>
          <%#= text_field_tag :time, params[:time], placeholder: "Select time", class: "form-control border-radius" %>
          <div class="form-group">
            <%= text_field_tag :nb_players, params[:players], placeholder: "Number of players", class: "form-control border-radius" %>
          </div>
          <div class="form-group">
            <%= label_tag "time-select", "Available sessions" %>
            <%= select_tag "time-select", options_for_select(@availabilities), class: "form-control border-radius" %>
          </div>
          <div class="form-group">
            <%= label_tag "duration" %>
            <%= select_tag "duration", options_for_select(["1 hour", "2 hours"]), class: "form-control border-radius" %>
          </div>

          <button type="submit" class="btn btn-danger">Book</button>
        <% end %>
      </p>
    </div>
  </div>
</div>



